<body>
    <h1>
        <% if ( weekend ) { %>
            Hey! it's weekend , it's time to have fun! 
        <%} else { %> 
            Hey! it's weekday, it's time to work hard!
        <% } %> 
    </h1>
</body>